#preamble {
	width: 939px;
	height: 125px;
	color: #fff;
	font-size: 19px;
	line-height: 1.4em;
	margin: 0 0 25px 27px;
	
}
#preamble p {
	float: left;
	width: 605px;
	color: #713D25;
}
#preamble #about-button {
	background: transparent url(/img/home-about-button.gif) no-repeat;
	width: 310px;
	height: 125px;
	display: block;
	text-indent: -50000px;
	float: right;
}




#hero-container {
	position: relative;
	height: 513px; 
	width: 985px;
	overflow: hidden;
	padding-top: 30px;
}

#heros,
#heros li {
	height: 340px; 
	width: 940px;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
/*		-moz-border-radius-topright: 10px;
		-khtml-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		
		-moz-border-radius-topleft: 10px;
		-khtml-border-radius-topleft: 10px;
		-webkit-border-top-left-radius: 10px;
		border-top-left-radius: 10px;*/
		
		overflow: hidden;
	behavior: url(/PIE.htc);
}


#heros { 
	margin-left: 23px;
	 -moz-box-shadow: 0px 0px 20px #000; 
  -webkit-box-shadow: 0px 0px 20px #000; 
          box-shadow: 0px 0px 20px #000; 
	behavior: url(/PIE.htc);
}



#heros li { 
	height: 340px; 
	width: 940px;
	top:0; 
	left:0; 
	position: absolute;
	background-position: 0 0;
	background-color: transparent;
}


#hero-box {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 985px;
	height: 173px;
	background: url(/img/home/hero-box.png) no-repeat bottom left;
	z-index: 100;
}

#buckets {
	margin-top: 32px;
	margin-left: 23px; 
}

#buckets li { 
	float: left; 
	margin: 0 23px 0 0; 
	padding: 0; 
	background: none;
}
#buckets li.last { margin-right: 0; }
#buckets li a { 
	display: block;
/*	text-indent: -50000px; */
	position: relative;
	text-decoration:none;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	 -moz-box-shadow: 0px 0px 5px #CEB37C; 
  -webkit-box-shadow: 0px 0px 5px #CEB37C; 
          box-shadow: 0px 0px 5px #CEB37C;
	behavior: url(/PIE.htc);
}







#buckets li a span {
	display: block;
	position: absolute;
	bottom: 15px;
	right: 18px;
	line-height: 1em;
	color: #fff;
	z-index: 20;
	font-size: 20px;
	text-decoration:none;
	font-family: 'TastyBoldRegular', "Comic Sans MS", Arial, sans-serif;
	letter-spacing: 0.03em;
    text-shadow: 0 0 5px #000; 
	behavior: url(/PIE.htc);


}

#buckets li a:hover span {
	color: #CFEF34;
}


.inner-shadow {
	position: absolute;
	z-index: 10;
	display: none;
	background: transparent;
	width:299px;
	height:120px;
	
}

.inner-shadow img {
	background: transparent;
	   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
	   zoom: 1;	
}



#buckets #gallery a {
	background: transparent url(/img/home/gallery.jpg) no-repeat;
	width: 299px;
	height: 120px;
}
#buckets #pricing a {
	background: transparent url(/img/home/pricing.jpg) no-repeat;
	width: 299px;
	height: 120px;
}
#buckets #contact a {
	background: transparent url(/img/home/contact.jpg) no-repeat;
	width: 299px;
	height: 120px;
}
