#content {
	margin-top: -7px;
	padding: 0 0 0 20px;
	
/*	overflow: hidden;*/
}

#bodytext-container {
/*	background: transparent url(/img/content-top-bg.png) no-repeat;*/
	width: 700px;
	padding-top: 23px;
	
/*	float: left;*/
	margin: 0 0 50px 290px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	 -moz-box-shadow: 0px 0px 20px #666; 
  -webkit-box-shadow: 0px 0px 20px #666; 
          box-shadow: 0px 0px 20px #666;
	behavior: url(/PIE.htc);
}

#bodytext-container.secondary {
/*	background: transparent url(/img/content-top-bg.png) no-repeat;*/
	width: 995px;
	padding-top: 23px;
	
/*	float: left;*/
	margin: 0 0 50px 0px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	 -moz-box-shadow: 0px 0px 20px #666; 
  -webkit-box-shadow: 0px 0px 20px #666; 
          box-shadow: 0px 0px 20px #666;
	behavior: url(/PIE.htc);
}

#bodytext { 
/*	background: transparent url(/img/content-body-bg.jpg) repeat-y;*/
/*	width: 604px;*/
	padding: 21px 54px 57px 54px;
	overflow: auto;
}


#sidebar-container {
/*	background: transparent url(/img/sidebar-top-bg.png) no-repeat;*/
	z-index: 2;
	position: relative;
	float: left;
	width: 255px;
	padding-top: 23px;
	margin-bottom: 23px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	 -moz-box-shadow: 0px 0px 20px #666; 
  -webkit-box-shadow: 0px 0px 20px #666; 
          box-shadow: 0px 0px 20px #666;
		behavior: url(/PIE.htc);
}
#sidebar { 
/*	background: transparent url(/img/sidebar-body-bg.jpg) repeat-y;*/
	padding: 15px 24px 20px 28px;
}
#sidebar-footer {
/*	background: transparent url(/img/sidebar-bottom-bg.jpg) no-repeat;*/
	width: 232px;
	margin-bottom: 30px;
}
#sidebar #gallery-menu {
	font-size: 16px;
	line-height: 1.8em;
}
#gallery-menu li { background-position: 0 8px; }
#gallery-menu li.current a,
#gallery-menu a:hover {
	text-decoration: underline;
}
#gallery-menu a {
	text-decoration: none;
	display: block;
}
.package {
	width: 240px;
	height: 435px;
	float: left;
	margin: 0 20px 0 20px;
	padding-right: 15px;
}
.package img { margin-top: 8px; }
.package ul {	margin: 15px 0 0 8px; }
.package li { font-size: 13px; }
.package h3 {
	display: inline;
	margin: 0 0 0 8px;
}
.package .price {
	display: inline;
	font-family: Georgia, "Times New Roman", Serif;
	color: #404040;
}

.dropdown {
	float:left;
	position:relative;
	width:200px;
	padding: 12px 25px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px solid #713d25;
	margin:0 0 25px 0;
}

.dropdown.shadow {
	/*
	-moz-box-shadow: 0px 0px 20px #666; 
  	-webkit-box-shadow: 0px 0px 20px #666; 
    box-shadow: 0px 0px 20px #666;
    behavior: url(/PIE.htc);
    */
}

.dropdown .current {
	color:#713d25;
	cursor:pointer;
}

.dropdown i { 
	position:absolute;
	right:25px;
	color:#713d25;
	margin-top:2px;
}

.dropdown .options {
	display:none;
	padding:12px 25px;
	width:202px;
	position:absolute;
	top:-2px;
	left:-2px;
	background:#fff;
	border:2px solid #713d25;
	z-index:1;
	/*
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 20px #666; 
  	-webkit-box-shadow: 0px 0px 20px #666; 
    box-shadow: 0px 0px 20px #666;
	behavior: url(/PIE.htc);
	*/
}

.dropdown .options li { 
	background:none;
	padding-left:0;
	margin-left:0;
}

.dropdown .options li.last {
	margin-bottom:0;
}

.dropdown .options li.last {
	margin-bottom:0;
}

.dropdown .options li a {
	text-decoration:none;
}

#container .dropdown .options li a.active { color:#000; }
#container .dropdown .options li a.active:hover { color:#000; }

/* about*/
#about-page .section { display:none; float:left; }
#about-page .section .photographer { float:left; width:100%; margin-bottom:50px; }
#about-page .section .photographer.bottom { margin-bottom:0; }
#about-page .section img { float:left; }
#about-page .section h3 { float:left; width:500px; margin-left:50px; }
#about-page .section p { 
	float:left; 
	width:500px;
	margin-left: 50px; }
#about-page { min-height:360px; }

/* gallery */
#gallery { margin:0 auto; width:800px; }
#gallery #jumbotron { margin:0 auto; width:800px; height:533px; }
#gallery #jumbotron.portrait { margin-left:222px; width:auto; height:533px; }
#gallery .wrapper { height:105px; }
#gallery #slideshow { float:left; }
#gallery #slideshow .scrollable { position:relative; width:800px; height:533px; overflow:hidden; }
#gallery #slideshow .scrollable .items { position:absolute; width:20000em; padding-left:2px; }
#gallery #slideshow .scrollable .items > div { float:left; width:800px; }
#gallery #slideshow .scrollable .items div img { height:533px; width:auto; }
#gallery #slideshow .scrollable .items div img.portrait { margin-left:222px; }
#gallery #slideshow a.browse { position:absolute; display:block; width:27px; height:25px; text-decoration:none; top:-275px; }
#gallery #slideshow a.browse.prev { left:-50px; }
#gallery #slideshow a.browse.next { right:-55px; }
#gallery #slideshow a.browse i { font-size:25px; }
#gallery #no-slideshow .scrollable { position:relative; width:798px; height:105px; overflow:hidden; }
#gallery #no-slideshow .scrollable .items { position:absolute; width:20000em; }
#gallery #no-slideshow .scrollable .items > div { float:left; width:800px; }
#gallery #no-slideshow .scrollable .items div img { cursor:pointer; width:156px; height:104px; margin:0; padding:0; }
#gallery .arrows { position:relative; width:100%; height:25px; }
#gallery #no-slideshow a.browse { position:absolute; display:block; width:15px; height:15px; text-decoration:none; top:-60px; }
#gallery a.browse.disabled { display:none; }
#gallery a.browse.prev { left:-25px; }
#gallery a.browse.next { right:-25px; }
#gallery a.browse i { font-size:15px; }
#masonry { padding:30px; }
.info-page #masonry { padding:0; }
#masonry .box { width:250px; height:250px; margin-bottom:25px; }
#masonry .box a { display:block; position:relative; width:100%; height:100%; color:#fff; }
#masonry .box a .mask { display:none; position:absolute; top:0; left:0; width:100%; height:250px; background:rgba(0,0,0,0.4); text-align:center; }
#masonry .box a:hover .mask { display:block; }
#masonry .box a .mask .label { display:block; margin-top:100px; }
#no-slideshow { display:none; }
#switch { 
	display:block; 
	float:right; 
	text-decoration:none; 
	color:#713d25; 
	margin-bottom:50px; 
	width:200px;
	padding: 12px 25px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px solid #713d25;
	margin:0 0 25px 0;}
#switch span { text-transform:uppercase; }