/* ----------------------------------------------- 
	Site Print Stylesheet
	Author: Justin Luk
	Created on: August 17, 2009

-------------------------------------------------- */
 

/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   0.8 (2008-03-10)
	 
-------------------------------------------------------------- */

body { 
width:100% !important;
margin:0 !important;
padding:0 !important;
}

/*Headings */
/*h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:12pt;}*/

code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em;  font-size: 10pt; }
hr { background-color: #ccc; }


/* Images 
img {  margin: 1em 1.5em 1.5em 0; } */


/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
a[href^="http://"] {color:#000; }

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
tr {page-break-inside: avoid;} 

/*hide various parts from the site*/


body {
	background: #fff !important;
	color: #000;
}

h1,h2,h3,h4,h5,h6 {
 	color: #000;
}
h1 span {display: none;}
#menu {display:none;}

/*Fix for images inside li tags */
li { 
	overflow: auto;
}

#container,
#content {
	margin-top: 0!important;
	padding: 0!important;
}
#logo {
	margin-top: 0!important;
}

