/* ----------------------------------------------- 
	Site Stylesheet
	Author: Justin Luk
	Created on: August 17, 2009
	
	- GLOBAL RESET
	- BASIC ELEMENTS
	- HEADER
	- CONTENT
	- SIDEBAR
	- FOOTER
	- CUSTOM CLASSES

-------------------------------------------------- */


/* GLOBAL RESET 
------------------------------------------------- */

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BASIC ELEMENTS
------------------------------------------------- */
html {

}

body {
	position:relative;
	background: #c0e1d6 url(/img/header-bg.jpg) repeat-x;	
	text-align: center;
	font: 13px/1.4em "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
a { color: #87C32F; }
p { margin-bottom: 29px; }
ul li {
	background: #fff url(/img/list-arrow.gif) no-repeat 0 3px;
	padding-left: 13px;
	margin-bottom: 8px;
}
h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Serif;
}
h1, h2 {
	color: #713d25;	
	border-bottom: 1px solid #e3d5a7;
}
h1 {
	font-size: 30px;
	line-height: 1.6em;
	margin-bottom: 20px;
}
h2 {
	font-size: 18px;
	line-height: 1.4em;
	margin-bottom: 10px;
}
h3 {
	color: #1a9394;
	font-size: 15px;
	margin-bottom: 10px;
}
table {
	margin-bottom: 18px;
}
#container {
	margin: 0 auto 100px auto;
	text-align: left;
	width: 1025px;
	position: relative;
	overflow: auto;
	min-height:775px;
}

/* HEADER
------------------------------------------------- */
#header {
	background: transparent url(/img/header-decor.jpg) no-repeat bottom;
	height: 169px;
	position: relative;
}
* html #header { background: none; }
#logo {
	margin-top: 21px;
}
#logo a {
	margin-left: 21px;
}

#menu {
	position: absolute;
	right: 62px;
	top: 25px;
	border-top: 2px solid #713d25;
	border-bottom: 2px solid #713d25;
}
	#menu li {
		background: transparent url(/img/nav-separator.gif) no-repeat right;
		float: left;
		font-size: 14px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	#menu li.last {
		background: none;
	}
	#menu li a {
		display: block;
		height: 17px;
		padding: 11px 15px 11px 13px;
		text-decoration: none;
		color: #713d25;
	}
	* html #menu li a { width: 70px; }
	#menu li a:hover,
	#menu li.current a {
		background: transparent url(/img/nav-arrow.gif) no-repeat center bottom;
		color: #713d25;
	}
/* CONTENT
------------------------------------------------- */
#content {
	position: relative;
	margin-bottom: 30px;
}
#thumbs li {
	float: left;
	background: none;
	padding: 6px;
	margin: 0;
	width: 180px;
	height: 220px;
	text-align: center;
	vertical-align: center;
}
#thumbs li span {
	display: block;
}
#about-pic {
	margin-left: 12px;
}
.image-wrapper {
	overflow: auto;
	margin-bottom: 20px;
}
.image-wrapper img {
	float: left;
}

/* SIDEBAR
------------------------------------------------- */

/* FOOTER
------------------------------------------------- */
#footer {
	position:absolute;
	bottom:-100px;
	left:0;
	width:100%;
	background: #713d25 url(/img/footer-bg.jpg) repeat-x;
	text-align: center;
	clear: right;
	margin-top: 30px;
	height: 83px;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}
#footer-content {
	background: transparent url(/img/footer-decor.jpg) no-repeat;
	width: 993px;
	height: 42px;
	margin: 0 auto;
	text-align: left;
	padding-top: 40px;
}
#copyright {
	color: #fff;
	font-size: 14px;
	text-align: right;
	margin: 0 27px 0 0;
}

/* FORMS
----------------------------------------------- */
#errors p,
#success p {
	margin-bottom: 0;
}
#errors ul,
#success ul {
	margin: 10px 0 10px 30px;
}
#errors,
#success {
	color: #524F4F;
	margin: 15px 0;
	padding: 12px 24px 12px 12px;
	width: 400px;
}
#errors {
	border: 1px solid #ff0000;
	background: #ffe9e9;
}
	#errors ul li {
		background-color: transparent;
	}
#success {
	border: 1px solid #04b104;
	background: #c8f9c8;
}
#human {
	visibility: hidden;
	display: none;
}
#contact-form li {
	background: none;
	padding-left: 0;
}

/* CUSTOM CLASSES
------------------------------------------------- */