* { font-family:'Raleway', sans-serif; }
body { background:url(/weddings/img/wood-bg.jpg); }
header { width:100%; height:130px; background:#fff; border-bottom:1px solid #444; }
header .wrapper { width:1049px; margin:0 auto; }
header .title { float:left; width:500px; margin:15px 0 0 0; color:#444; }
header .title .logo { float:left; width:100px; margin-right:20px;}
header .header { float:left; width:340px; font-size:20px; margin:27px 0 0 0; padding:0; text-decoration:none; color:#c0e1d6; font-family:Arial, sans-serif; text-transform:uppercase; font-weight:normal; }
header .sub-header { float:left; font-family:Arial, sans-serif; color:#713d25; font-weight:normal; }
header h2 { float:left; width:180px; margin:0; padding:0; }
header h1 a { text-decoration:none; color:#713d25; font-family:Arial, sans-serif; }
#nav { width:536px; float:right; margin:50px 0 0 0; padding:0; }
#nav li { list-style-type:none; float:left; margin-right:10px; }
#nav li a { text-decoration:none; color:#444; padding:3px 7px; }
#nav li a.active { border:1px solid #713d25; }
#nav li a.active:hover { border:1px solid #c0e1d6; }
#nav li a:hover { color:#fff; background:#c0e1d6; }
#container { width:1049px; margin:0 auto; padding-top:50px; }
#container .dropdown { float:left; position:relative; width:250px; padding: 12px 25px; background:#fff; border:1px solid #000; margin:0 0 25px 0; }
#container .dropdown .current { color:#713d25; cursor:pointer; }
#container .dropdown i { position:absolute; right:25px; color:#713d25; margin-top:2px; }
#container .dropdown .options { display:none; padding:12px 25px; width:250px; position:absolute; top:-17px; left:-1px; background:#fff; border:1px solid #444; }
#container .dropdown .options li { background:none; padding-left:0; margin-left:0; margin-bottom:5px; list-style-type:none; }
#container .dropdown .options li.last { margin-bottom:0; }
#container .dropdown .options li a { text-decoration:none; color:#713d25; }
#container .dropdown .options li a:hover { color:#c0e1d6; }
#gallery { margin:0 auto; padding:0; width:800px; }
#gallery .top { float:left; width:100%; }
#gallery h1 { float:left; width:250px; }
#gallery #jumbotron { margin:0 auto; max-height:533px; }
#gallery #jumbotron.portrait { margin-left:222px; }
#no-slideshow .scrollable { position:relative; width:800px; height:105px; overflow:hidden; }
#no-slideshow .scrollable .items { position:absolute; width:20000em; }
#no-slideshow .scrollable .items > div { float:left; width:800px; padding-left:2px; }
#no-slideshow .scrollable .items div img { cursor:pointer; }
#slideshow { float:left; display:none; }
#slideshow .scrollable { position:relative; width:800px; height:533px; overflow:hidden; }
#slideshow .scrollable .items { position:absolute; width:20000em; padding-left:2px; }
#slideshow .scrollable .items > div { float:left; width:800px; }
#slideshow .scrollable .items div img { }
#slideshow .scrollable .items div img.portrait { margin-left:222px; }
#gallery .arrows { position:relative; width:100%; height:25px; }
#no-slideshow a.browse { position:absolute; display:block; width:27px; height:25px; text-decoration:none; top:-65px; }
#slideshow a.browse { position:absolute; display:block; width:27px; height:25px; text-decoration:none; top:-275px; }
#gallery a.browse.disabled { display:none; }
#slideshow a.browse.prev { left:-50px; }
#no-slideshow a.browse.prev { left:-50px; }
#slideshow a.browse.next { right:-50px; }
#no-slideshow a.browse.next { right:-50px; }
#gallery a.browse i { font-size:25px; color:#444; }
#switch { display:block; float:right; margin-top:25px; text-decoration:none; color:#713d25; margin-bottom:50px; }
#switch span { text-transform:uppercase; }